.deposit_body{
    background: linear-gradient(180deg, rgba(231, 58, 58, 0) 0%, #617FE8 100%);
}
.deposit_data{
    height: 400px;
    width: 90%;
    margin: 56px auto 0;
}
.deposit_label{
    width: 155px;
    margin:0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.deposit_form_wrapper{
    width: fit-content;
    display: flex;
    margin: 0 auto;
}
