.account_body {
  background: linear-gradient(180deg, rgba(217, 58, 231, 0) 0%, #e7633a 100%);
}

.acc_data {
  font-family: "Noto Sans";
  font-style: normal;
  padding: 10px 100px 100px;
}

/* Title */

.acc_data_label {
  text-align: center;
  font-size: 30px;
}

/* Main blocks */

.acc_main_blocks {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: 10px auto;
  font-size: 20px;
}

.user_form_wrap {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_form {
  padding: 40px;
}

.info_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

/* User image */

.info_user_image_wrap {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.user_image {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user_image_btns {
  padding-left: 30px;
}

.user_image_input_wrap {
  position: relative;
}

.user_image_input_label {
  position: absolute;
  z-index: 1;
  font-weight: 600;
  width: 80px;
  height: 35px;
  background: white;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
}

.user_image_input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 80px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
}

.user_image_input::-webkit-file-upload-button {
  cursor: pointer;
}

.user_image_delete_btn {
  font-weight: 600;
  width: fit-content;
  background: white;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  cursor: pointer;
}

/* User info fields */

.user_info_label {
  font-weight: 600;
  padding-right: 15px;
}

.user_info_input {
  padding-left: 10px;
  border: 2px solid black;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.btns_wrap {
  display: flex;
  justify-content: space-between;
}

.management_btn {
  font-weight: 600;
  width: fit-content;
  background: white;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Tariff Plan & Deposit */

.set_btns_wrap {
  display: flex;
}

.change_tariff_btn {
  width: 280px;
  height: 60px;
  margin-right: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.change_tariff_btn_wrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.change_tariff_img {
  width: 60px;
}

.deposit_btn {
  width: 280px;
  height: 60px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.deposit_btn_wrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.card_images {
  display: flex;
  justify-content: flex-end;
}

.visa_img {
  width: 60px;
  padding-top: 13px;
}

.maestro_img {
  width: 50px;
}

.mastercard_img {
  width: 60px;
}

.info_btns {
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.current_plan_wrap {
  padding: 40px;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tariff_info_wrap {
  display: flex;
  padding-bottom: 10px;
}

.mobile_img {
  height: 40px;
  padding-right: 10px;
}

.tariff_label_title {
  font-weight: 600;
  padding-right: 10px;
}
