.footer {
  font-family: "Noto Sans";
  font-style: normal;
  padding: 30px 100px 100px;
  margin-top: 100px;
  height: 150px;
  background: rgba(0, 0, 0, 0.6);
}

.logo_wrap {
  display: flex;
  justify-content: space-between;
}

.download_btns_wrap {
  display: flex;
  margin-top: 10px;
}

.links_wrap {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
}

.social_wrap {
  display: flex;
}

.download_btns {
  display: flex;
  width: 120px;
}

.logo_title {
  font-weight: 600;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.soon_btn {
  font-size: 18px;
  color: white;
  margin: auto;
  margin-right: 15px;
}

.download_btns_a {
  margin-right: 15px;
}

.social_img {
  margin-right: 15px;
}

.rights {
  font-size: 15px;
  color: white;
}
